name: Symfony Workflow
# This workflow will help you set up a basic Symfony application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP 8.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install dependencies
        run: composer install -q

      - name: Run Migrations
        run: php vendor/bin/console doctrine:migrations:migrate --no-interaction

      - name: Run PHPUnit
        run: php vendor/bin/phpunit --coverage-text